.lang-style {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .lang-style {
    font-size: 18px;
    line-height: 20px;
  }
}