.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px 0 0 0;
  font-family: 'Inter', 'calibri', sans-serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
}
@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
}