.header__logo {
  background-image: url(../../../images/header-logo.svg);
  background-repeat: no-repeat;
  width: 176px;
  height: 52px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    background-size: cover;
    width: 142px;
    height: 42px;
  }
}