.header {
  position: relative;
  margin: 0 auto;
  padding-top: 28px;
  max-width: 1184px;
  max-height: 52px;
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header {
    max-width: 928px;
    max-height: 52px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    max-width: 720px;
    max-height: 52px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    max-width: 288px;
    max-height: 42px;
    padding-top: 16px;
  }
}