.lead__image {
  margin-top: 64px;
  width: 984px;
  height: 615px;
}
@media screen and (max-width: 1279px) {
  .lead__image {
    margin-top: 56px;
    width: 100%;
    height: 580px;
  }
}
@media screen and (max-width: 1023px) {
  .lead__image {
    width: 100%;
    height: 480px;
  }
}
@media screen and (max-width: 767px) {
  .lead__image {
    margin-top: 40px;
    width: 100%;
    height: 200px;
  }
}