.intro__text {
  margin: 40px 0 0 0;
  max-width: 690px;
  font-size: 16px;
  line-height: 163%;
  font-family: 'Inter', 'calibri', sans-serif;
  font-style: normal;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 288px;
  }
}