.place__block-paragraph {
  margin: 48px 0 0 40px;
  grid-column: 3/4;
  grid-row: 2/3;
  font-family: 'Inter', 'calibri', sans-serif;
  font-style: normal;
  font-weight: 400;
}
@media screen and (max-width: 1279px) {
  .place__block-paragraph {
    margin-left: 32px;
  }
}
@media screen and (max-width: 1023px) {
  .place__block-paragraph {
    margin-left: 28px;
  }
}
@media screen and (max-width: 767px) {
  .place__block-paragraph {
    margin: 32px auto 0 auto;
    grid-row: 4/5;
    grid-column: 1/2;
  }
}