.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}