.footer__lists {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer__lists {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
}